### Imports

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### Code pour générer des fausses données

In [5]:
def fake_matrix(nb_products = 6,
                nb_cust = 5,
                share_empty = 0.7):

    name_products = ["P"+str(x+1) for x in range(nb_products)]
    name_cust = ["cust_"+str(x+1) for x in range(nb_cust)]

    rand = np.random.rand(nb_cust,nb_products)
    empty = np.random.rand(nb_cust,nb_products)>share_empty

    fake_matrix = pd.DataFrame(rand*empty,
                               index=name_cust,
                               columns=name_products
                              )


    return fake_matrix

In [6]:
fake_data = fake_matrix(100, 100, 0.7)
display(fake_data)

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P91,P92,P93,P94,P95,P96,P97,P98,P99,P100
cust_1,0.000000,0.000000,0.000000,0.000000,0.068043,0.365644,0.000000,0.000000,0.080876,0.000000,...,0.000000,0.664038,0.300865,0.148108,0.909276,0.300351,0.000000,0.000000,0.000000,0.0
cust_2,0.337949,0.000000,0.000000,0.389758,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.142672,0.000000,0.144262,0.000000,0.0
cust_3,0.000000,0.218191,0.000000,0.502589,0.000000,0.849044,0.000000,0.131197,0.000000,0.446769,...,0.000000,0.000000,0.293301,0.000000,0.904695,0.000000,0.000000,0.000000,0.000000,0.0
cust_4,0.000000,0.351922,0.000000,0.000000,0.456996,0.000000,0.999998,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.347086,0.000000,0.000000,0.000000,0.322332,0.000000,0.754229,0.0
cust_5,0.900272,0.000000,0.000000,0.080377,0.085035,0.000000,0.000000,0.000000,0.000000,0.040043,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.314394,0.260991,0.604536,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
cust_96,0.000000,0.000000,0.552662,0.000000,0.000000,0.819958,0.245023,0.513401,0.710463,0.000000,...,0.571222,0.000000,0.741563,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
cust_97,0.000000,0.911027,0.570600,0.579970,0.198603,0.508049,0.000000,0.000000,0.000000,0.206778,...,0.440015,0.000000,0.000000,0.000000,0.984769,0.000000,0.000000,0.000000,0.000000,0.0
cust_98,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.519662,...,0.000000,0.000000,0.524624,0.352743,0.878146,0.391334,0.464863,0.385167,0.000000,0.0
cust_99,0.736507,0.000000,0.718666,0.000000,0.704775,0.000000,0.000000,0.242214,0.000000,0.000000,...,0.000000,0.274493,0.000000,0.763998,0.128535,0.000000,0.699779,0.000000,0.000000,0.0
cust_100,0.000000,0.854437,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.772958,...,0.000000,0.000000,0.000000,0.822944,0.781850,0.000000,0.411945,0.000000,0.063611,0.0

### Méthode corrélation de Pearson

In [7]:
from sklearn.feature_selection import r_regression as pearson_correlation

In [10]:
data = fake_data.copy()

In [13]:
# On transpose la matrice, parceque la fonction pearson fait une correlation entre les colonnes
data_transposed = data.transpose()

# L'utilisateur à qui on va faire des recommandations
utilisateur = 'cust_5'

# On fait la corrélation de cust_5 avec toutes les autres colonnes
correlations = pearson_correlation(data_transposed, data_transposed[utilisateur])

# On reformate pour avoir les données dans un dataframe propre
correlations_col = pd.DataFrame(index=data.index)
correlations_col['correlations'] = correlations
correlations_col

          correlations
cust_1       -0.039389
cust_2       -0.005168
cust_3       -0.032590
cust_4       -0.040572
cust_5        1.000000
...                ...
cust_96       0.018606
cust_97       0.031028
cust_98      -0.098136
cust_99       0.043532
cust_100     -0.172716

[100 rows x 1 columns]

In [55]:
# On trie par ordre décroissant
sorted_correlations = correlations_col.sort_values('correlations', ascending=False)
sorted_correlations

         correlations
cust_5       1.000000
cust_34      0.304818
cust_71      0.209820
cust_67      0.192795
cust_54      0.154783
...               ...
cust_77     -0.147205
cust_18     -0.161394
cust_90     -0.181180
cust_62     -0.188772
cust_16     -0.198921

[100 rows x 1 columns]

In [41]:
# Là, on a cust_5 en premier (qu'on peut ignorer), et ensuite les utilisateurs les plus proches
# Du coup, on prend ceux là, et on veut les scores qu'ils donnent à des objets

In [56]:
# On prend les 5 utilisateurs les plus proches
n_utilisateurs_proches = 5

utilisateurs_proches = sorted_correlations[1:n_utilisateurs_proches+1].index

In [57]:
utilisateurs_proches

Index(['cust_34', 'cust_71', 'cust_67', 'cust_54', 'cust_37'], dtype='object')

In [77]:
# On ne garde que les ratings de ces utilisateurs
data_utilisateurs_proches = data.filter(items=utilisateurs_proches, axis=0).transpose()
data_utilisateurs_proches

       cust_34   cust_71   cust_67   cust_54   cust_37
P1    0.000000  0.000000  0.000000  0.000000  0.000000
P2    0.365887  0.564750  0.000000  0.000000  0.000000
P3    0.000000  0.819533  0.734683  0.372097  0.000000
P4    0.935418  0.574973  0.000000  0.917886  0.791983
P5    0.000000  0.000000  0.406483  0.000000  0.540614
...        ...       ...       ...       ...       ...
P96   0.000000  0.105975  0.473523  0.000000  0.645899
P97   0.000000  0.000000  0.141485  0.000000  0.000000
P98   0.000000  0.724356  0.659451  0.803399  0.198843
P99   0.000000  0.819429  0.000000  0.000000  0.234252
P100  0.000000  0.000000  0.268982  0.280594  0.000000

[100 rows x 5 columns]

In [78]:
# Les ratings de notre utilisateur
data_utilisateur = data.filter(items=[utilisateur], axis=0).transpose()
data_utilisateur

        cust_5
P1    0.000000
P2    0.000000
P3    0.000000
P4    0.286316
P5    0.000000
...        ...
P96   0.000000
P97   0.395012
P98   0.826799
P99   0.000000
P100  0.000000

[100 rows x 1 columns]

In [75]:
# Au final, on va recommander:
# Les items que les utilisateurs proches ont notés
# Que l'utilisateur lui-même n'a pas déjà noté
# Triés par note décroissante ? Par nombre d'utilisateurs qui recommandent ?

In [91]:
# Nombre d'utilisateurs proches qui ont noté
n_ratings = (data_utilisateurs_proches != 0).sum(axis=1)

# Note moyenne
mean_ratings = (data_utilisateurs_proches).mean(axis=1)

utilisateur_has_rated = (data_utilisateur[utilisateur] != 0)

data_utilisateur['n_ratings'] = n_ratings
data_utilisateur['mean_ratings'] = mean_ratings
data_utilisateur['has_rated'] = utilisateur_has_rated

In [101]:
items_sorted = data_utilisateur[data_utilisateur['has_rated'] == False].sort_values(['n_ratings', 'mean_ratings'], ascending=False)
items_sorted

     cust_5  n_ratings  mean_ratings  has_rated
P3      0.0          3      0.385263      False
P39     0.0          3      0.357644      False
P34     0.0          3      0.332502      False
P23     0.0          3      0.314038      False
P79     0.0          3      0.309844      False
..      ...        ...           ...        ...
P36     0.0          0      0.000000      False
P43     0.0          0      0.000000      False
P48     0.0          0      0.000000      False
P53     0.0          0      0.000000      False
P80     0.0          0      0.000000      False

[74 rows x 4 columns]

In [103]:
# Les items à recommander sont les premiers items de la liste
items_sorted[:5].index

Index(['P3', 'P39', 'P34', 'P23', 'P79'], dtype='object')

In [14]:
# On mets le tout dans une fonction
def person_based_recommandation(data, utilisateur, n_proches=5, n_recommandations=5):
    # On transpose la matrice, parceque la fonction pearson fait une correlation entre les colonnes
    data_transposed = data.transpose()

    # On fait la corrélation de cust_5 avec toutes les autres colonnes
    correlations = pearson_correlation(data_transposed, data_transposed[utilisateur])

    # On reformate pour avoir les données dans un dataframe propre
    correlations_col = pd.DataFrame(index=data.index)
    correlations_col['correlations'] = correlations

    # On trie par ordre décroissant
    sorted_correlations = correlations_col.sort_values('correlations', ascending=False)
    
    utilisateurs_proches = sorted_correlations[1:n_proches+1].index
    
    # On ne garde que les ratings de ces utilisateurs
    data_utilisateurs_proches = data.filter(items=utilisateurs_proches, axis=0).transpose()
    
    # Les ratings de notre utilisateur
    data_utilisateur = data.filter(items=[utilisateur], axis=0).transpose()

    # Nombre d'utilisateurs proches qui ont noté
    n_ratings = (data_utilisateurs_proches != 0).sum(axis=1)

    # Note moyenne
    mean_ratings = (data_utilisateurs_proches).mean(axis=1)

    utilisateur_has_rated = (data_utilisateur[utilisateur] != 0)

    data_utilisateur['n_ratings'] = n_ratings
    data_utilisateur['mean_ratings'] = mean_ratings
    data_utilisateur['has_rated'] = utilisateur_has_rated
    
    items_sorted = data_utilisateur[data_utilisateur['has_rated'] == False].sort_values(['n_ratings', 'mean_ratings'], ascending=False)

    return items_sorted[:n_recommandations].index

In [17]:
# Exemples
person_based_recommandation(fake_data, 'cust_5')

Index(['P69', 'P15', 'P37', 'P2', 'P71'], dtype='object')

In [19]:
person_based_recommandation(fake_data, 'cust_75', n_proches=15, n_recommandations=8)

Index(['P53', 'P74', 'P32', 'P35', 'P97', 'P25', 'P8', 'P31'], dtype='object')